/* ------------------ HERO ----------------- */

main img{
    width: 60vw;
    height: auto;
    position: relative;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: var(--card);
   text-align: center; 
   border-radius: 20px;
   width: 30vw;/*what is this default, I like the setting*/
   height: 20vh;
   position: absolute;
   bottom: 23%;
   padding: 25px;
}

.overlay p{
    /* padding-top: 0.5vh; */
    width: 75%;
    font-size: 18px;
    padding-top: 0;
}

h1{
    font-size:  36px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    /* padding-top: 1vh; */
}

/* ------------------ HERO ----------------- */

.card-container{
    width: 100%;
    margin: 10vh 0;
    display: flex;
    justify-content: space-around;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    border-radius: 20px;
    width: 20vw;
    height: 25vh;
}
